.custom-width {
    width: 100%; 
    max-width: 700px; 
}

ul {
    padding: 0;
}

#container-todo .fa-circle-xmark {
    cursor: pointer;
}

#container-todo #todos span {
    cursor: pointer;
    user-select: none;
}